* {
  margin: 0;
  padding: 0;
 
}
.enc{
  background: #284e6b;
}
.enc-active{
  background: #19374e;
  width: 100%;
  min-width: inherit;
}

.section-1{
  border-bottom: 2px solid silver;
}

.container-flex {
  width: 500px;
  display: flex;
  background-color: #2a434e;
}
.landing {
  background-color: #ff0;
  box-shadow: 10px 10px 5px #888;
}

.form-register {
  width: 75%;
  background-color: #2a434e;
}
/*@media only screen and (max-width: 400px) {
  [class*="col-"] {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: #2a434e;
  }
  form {
    min-width: 500px;
  }
  input {
    max-width: 50%;
  }
  button {
    margin-rigth: 25%;
    margin-left: 25%;
  }
}*/
/*@media only screen and (min-width: 786px) {
  body {
    background-image: url("/images/cgodin_pattern.png");
    font-size: 1.5em;
    font-feature-settings: normal;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: inherit;
  }
  form .form-register {
    width: 50%;
    margin: auto;
  }
  input {
    width: 550px;
  }
}*/
.form-register input {
  width: 75%;
  margin: 19px;
  border-radius: 30px;
  padding: 2%;
}
nav {
  flex-basis: 300px;
}
nav.menuNav {
  align-content: flex-start;
  background-color: #284e6b;
  height: 54px;
  list-style-type: none;
  padding: 1%;
}
nav.menuNav>li {
  align-items: flex-start;
  justify-content: flex-end;
}
nav.menuNav>li a {
  flex-direction: row;
  text-align: center;
  width: 110px;
  justify-content: flex-start;
}
a {
  color: #00b7ff;
}
i {
  color: #fff;
  line-height: normal;
  font-size: 1em;
  color: inherit;
  align-items: flex-end;
}
img.logo {
  padding: 0%;
  background-color: transparent;
  overflow: hidden;
  width:400px;
  max-height: 200px;
  height:auto;
}
img.logoSmall {
  width: 15%;
  height: auto;
  max-width: 35px;
  max-height: 31px;
}
nav.menu {
  display: inline;
}
div.wrapperProfile {
  width: 100%;
  background-color: #fff;
  justify-content: center;
  border-bottom: 2px solid #cacaca;
}
.inputRegistry {
  width: 100%;
}
div.myProfile {
  float: left;
  background-color: #c7faff;
  width: 100%;
  height: 162px;
  z-index: 0;
}
.styleIconsFormRegister {
  color: #ff698e;
}
.myProfile,
label {
  text-indent: 50px;
}
.btnRosa {
  margin-top: 1em;
  float: right;
  color: #555;
  background: transparent;
  border-radius: 36px;
  border: solid;
  border-color: #ffb1c2;
  padding: 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  z-index: 2;
}
button.btnMorado {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #d3d7db;
  font-size: 1.1em;
  background: transparent;
  border-radius: 36px;
  border: 2.7px solid #743657;
  padding: 20px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
div.profileStudiesInformation {
  flex-wrap: wrap;
  justify-content: flex-end;
  border-bottom: 2px solid #cacaca;
  width: 100%;
  height: 144px;
  background-color: #fff;
  text-indent: 50px;
  padding-top: 33px;
}
.columnRightAcademic {
  width: 700px;
  height: 100px;
  float: right;
}
.tdWhite {
  background-color: #fff;
  border-bottom: 2px solid #cacaca;
  color: #0f4259;
}
.colorInfoAcademic {
  color: #db1f53;
}
p.rotulo {
  color: #dfe3e6;
  margin-left: 20%;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px;
}
.circleSelfie {
  z-index: 10;
  top: 10px;
  text-align: center;
  align-self: center;
  position: relative;
  min-width: 100px;
  height: 150px;
  margin-bottom: -100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
  border: 5px solid #20a2d2;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #f4f4f4;
}
footer {
  margin-top: 100px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
}
.img-navbar{
  max-width: 2em;
  width: 100%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


div#section-2{
  border-top: 2px solid #cacaca;
}

div.vacante{
  display: flex;
  min-height:106px;
  min-width: 396px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  padding: 1.999em;
}

div.vacante > figure, article, h4, p, address, aside{
    margin: auto;
    justify-content: space-around;
    text-align: left;
}

img.logoEmpresarial{
    min-width: 52px;
    min-height: 33px;
    padding-right: 20px;
}
p.v-n-p{border-bottom:1px solid silver; padding-bottom:120px; text-align: center; padding-top:120px;}

.menu {
  height: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin-top: 1em;
  background-color: #fff;
  /*width: 10em;*/
  overflow: hidden;
}
.menu li {
  list-style: none;
  padding: 0.6em 1em;
}
.menu a {
  text-decoration: none;
  color: #333;
}
.menu a:hover {
  color: #f20256;
}

.open-hide {
  background-color: transparent;
  width: 35px;
  height: 35px;
  display: block;
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/6001/menu.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  text-indent: -9999em;
  */
}
.open-hide:hover {
  cursor: pointer;
}

.show {
  /*background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/6001/close.svg");*/
  background-size: 15px;
}
.show + .menu {
  height: 100px;
}

div.vacancy{
  margin: 48px 146px;
  display: flex;
  min-height:106px;
  min-width: 396px;
  width: 80%;
  border: 1px solid #d0d0d0;

}

div.vacancy > figure, article, h4, p, address, aside{
  margin: auto;
  justify-content: space-around;
  text-align: left;
}