doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/stylesheets/bootstrap.3.3.7.min.css")
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    span.float.left.visible-xs xs
    span.float.left.visible-sm sm
    span.float.left.visible-md md
    span.float.left.visible-lg lg
    .container-fluid
      .row
        .col-md-8.col-md-push-2.col-xs-4
          .jumbotron.cg-photo
        .col-xs-8
          .jumbotron.cg-info
    script(src="/js/jquery-3.2.1.min.js")
    script(src="/js/bootstrap.min.js")