doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/bootstrap.3.3.7.min.css")
        link(rel='stylesheet' href='/stylesheets/style2.css')
        link(rel='stylesheet' href='/stylesheets/style3.css')
    body
        span.float.left.visible-xs xs
        span.float.left.visible-sm sm
        span.float.left.visible-md md
        span.float.left.visible-lg lg
        .navbar-fixed-top
        br
        br
        br
        .container-fluid
            #wrapper-cg
                //header
                .row
                    .col-md-10.col-xs-12.section-1-profile
                    .col-xs-12.profile-picture
                // fin-row-1
                .row
                    #row-1
                        .col-md-8.col-xs-12.col-md-push-2.jumbotron-p-info
                            br
                            input.form-control(placeholder='Nombre Completo')
                            br
                            br
                            textarea.form-control(placeholder='Acerca de mi...' rows='10')
                            br
                            .container-flex-row
                                .col-xs-2
                                    img.img-logos(src='/img/Iconos/Telefono.png')
                                .col-xs-10
                                    input.form-control(placeholder='Teléfono')
                            br
                            .container-flex-row
                                .col-xs-2
                                    img.img-logos(src='/img/Iconos/Celular.png')
                                .col-xs-10
                                    input.form-control(placeholder='Celular')
                            br
                            .container-flex-row
                                .col-xs-2
                                    img.img-logos(src='/img/Iconos/Correo.png')
                                .col-xs-10
                                    input.form-control(placeholder='E-mail')
                        //fin row 2
                .row
                    #row-2
                        .col-md-8.col-xs-12.col-md-push-2.jumbotron-p-info
                            br
                            .container-flex-row
                                .col-xs-2
                                    img.img-logos(src='/img/Iconos/Direccion.png')
                                .col-xs-8.col-xs-push-1
                                    input.form-control(placeholder='Código postal')
                                    br
                                    br
                                    select.form-control(name='Estado' id='state')
                                        option(value='') Estado
                                    br
                                    select.form-control(name='Delegacion' id='delegation')
                                        option(value='') Municipio o Delegacion
                                    br
                                    select.form-control(name='Colonia' id='colony')
                                        option(value='') Colonia
                                    br
                                    input.form-control(type='text' placeholder='Calle y Número')
                                    br
                                    br

                        .row

                            .col-md-8.col-md-push-2.col-xs-12
                                .container-flex-row
                                    .col-xs-1
                                    .col-xs-2
                                        img.img-logos(src='/img/Iconos/Twitter.png')
                                    .col-xs-8
                                        input.form-control(placeholder='Twitter')
                                br
                                .container-flex-row
                                    .col-xs-1
                                    .col-xs-2
                                        img.img-logos(src='/img/Iconos/facebook.png')
                                    .col-xs-8
                                        input.form-control(placeholder='Facebook')
                            .row
                                .col-md-8.col-md-push-2.col-xs-12
                                    .jumbotron.cg-info-1
                                        .cg-info-r
                            .row
                                .col-md-8.col-md-push-2.col-xs-12
                                    .jumbotron.cg-info-1
                                        .cg-info-r
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/bootstrap.min.js" )