doctype html
html
    head
        title= title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
        link(rel='stylesheet' href='/stylesheets/style2.css')
    body
        span.float.left.visible-xs xs
        span.float.left.visible-sm sm
        span.float.left.visible-md md
        span.float.left.visible-lg lg
        .navbar-fixed-top
            br
            br
            br
            .container-fluid
                .row
                    .col-md-8.col-md-push-2.col-xs-4
                        .jumbotron.cg-photo
                    .col-xs-8
                        .jumbotron.cg-info
                .row
                    .col-md-8.col-md-push-2.col-xs-12
                        .jumbotron.cg-info-1.cg-personal-data
                .row
                    .col-md-8.col-md-push-2.col-xs-12
                        .jumbotron.cg-info-1
                .row
                    .col-md-8.col-md-push-2.col-xs-12
                        .jumbotron.cg-info-1
                .row
                    .col-md-8.col-md-push-2.col-xs-12
                        .jumbotron.cg-info-1
                .row
                    .col-md-8.col-md-push-2.col-xs-12
                        .jumbotron.cg-info-1
                .row
                    .col-md-8.col-md-push-2.col-xs-12
                        .jumbotron.cg-info-1

            script(src="https://code.jquery.com/jquery-3.2.1.min.js")
            script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")