doctype html
html
    head
        title= title
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel='stylesheet' href='/stylesheets/style2.css')
    body
        span.float.left.visible-xs xs
        span.float.left.visible-sm sm
        span.float.left.visible-md md
        span.float.left.visible-lg lg
    .navbar-fixed-top
        br
        br
        br
    .container-fluid
            .row.section-1
                .col-md-8.col-md-push-2.col-xs-4
                    .jumbotron.cg-photo
                .col-xs-8
                    .jumbotron.cg-info
            // fin-section-1
            .row
                .col-md-8.col-md-push-2.col-xs-12
                    .jumbotron.cg-info-1.cg-personal-data
                        .cg-info-r
            .row
                .col-md-8.col-md-push-2.col-xs-12
                    .jumbotron.cg-info-1
                        .cg-info-r
            .row
                .col-md-8.col-md-push-2.col-xs-12
                    .jumbotron.cg-info-1
                        .cg-info-r
            .row
                .col-md-8.col-md-push-2.col-xs-12
                    .jumbotron.cg-info-1
                        .cg-info-r
            .row
                .col-md-8.col-md-push-2.col-xs-12
                    .jumbotron.cg-info-1
                        .cg-info-r
            .row
                .col-md-8.col-md-push-2.col-xs-12
                    .jumbotron.cg-info-1
                        .cg-info-r

        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")