header
    nav.navbar-default.enc.navbar-fixed-top
        .ui-navbar(data-role='navbar', data-grid='c', role='navigation')
            ul.ui-grid-c
                li.ui-block-a
                    a.ui-link.ui-btn(href='/main')
                        img.img-navbar.img-responsive(src='/img/Iconos/Home.png', alt='INICIO')
                li.ui-block-b.enc-active
                    a(href='/search')
                        img.img-navbar(src='/img/Iconos/Buscar.png', alt='BUSCAR')
                li.ui-block-c
                    a(href='/postulations')
                        img.img-navbar(src='/img/Iconos/Postular.png', alt='POSTULARSE')
                li.ui-block-d
                    a(href='/myprofile')
                        img.img-navbar(src='/img/Iconos/Perfil.png', alt='MI PERFIL')