doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/bootstrap.3.3.7.min.css")
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel="stylesheet" href="/css/css/style.css")
    body
        //vista de login y registro
        span.float.left.visible-xs xs
        span.float.left.visible-sm sm
        span.float.left.visible-md md
        span.float.left.visible-lg lg
        .row
            .col-md-8.col-md-push-2
                .jumbotron
                    a(style='color:white' href='/login') Login
                    br
                    a.btnRosa(href='/register') Registrarse
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/bootstrap.min.js")