doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/bootstrap.3.3.7.min.css")
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        //vista de login y registro
        span.float.left.visible-xs xs
        span.float.left.visible-sm sm
        span.float.left.visible-md md
        span.float.left.visible-lg lg
        .row
            .col-md-8.col-md-push-2
                .jumbotron
                    section.col-xs-10.col-md-8.col-md-push-2
                        figure.form-login
                            img.img-responsive.center-block.logo-form(src='images/cgodin_logo.png')
                        form.center-block(action='/main')
                            input.inp.form-control(name='email' placeholder='Correo electrónico')
                            input.inp.form-control(type='password' name='password' placeholder='Contraseña')
                            input.btn-login.center-block(role='button' type='submit' name='login' value='Iniciar Sesión')
        script(src="/js/jquery-3.2.1.min.js")
        script(src="/js/bootstrap.min.js")