doctype html
html
    head
        title Cgodin | Nuevo Perfil
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='css/css/font-awesome.css')
        link(rel='stylesheet', href='css/jquery.mobile-1.4.5.css')
        link(rel='stylesheet', href='/css/css/style.css')
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='UTF-8')
        meta(name='description', content='Cgodin')
        meta(name='keywords', content='empleo, bolsa de trabajo, recursos humanos')
        meta(name='author', content='rycLATAM')
        script(src='/js/jquery-3.2.1.js')
        script(src='js/jquery.mobile-1.4.5.js')
    body
        header
            nav.navbar-default.enc.navbar-fixed-top
                .ui-navbar(data-role='navbar', data-grid='c', role='navigation')
                    ul.ui-grid-c
                        li.ui-block-a.enc-active
                            a.ui-link.ui-btn(href='/main')
                                img.img-navbar.img-responsive(src='/img/Iconos/Home.png', alt='INICIO')
                        li.ui-block-b
                            a(href='/search')
                                img.img-navbar(src='/img/Iconos/Buscar.png', alt='BUSCAR')
                        li.ui-block-c
                            a(href='/postulations')
                                img.img-navbar(src='/img/Iconos/Postular.png', alt='POSTULARSE')
                        li.ui-block-d
                            a(href='/myprofile')
                                img.img-navbar(src='/img/Iconos/Perfil.png', alt='MI PERFIL')
        br
        br
        br
        .vacancy.col-md-8.col-md-push-2.col-xs-12
            figure.col-md-8.col-md-push-2.col-xs-12
                img.logo(src='/img/logo_empresa.png' )
            article.col-xs-10
                h4 Reclutamiento y Capacitación LATAM
                p Ejecutivos telefónicos
                    address Benito Juárez,CDMX
                p $ 5600.00 MXN
            aside.col-xs-1
                a(href='/selectedVacancy')
                    i.fa.fa-angle-right.fa-5x
