doctype html
html
    head
        title= title
        link(rel="stylesheet" href="/stylesheets/bootstrap.3.3.7.min.css")
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        //vista de login y registro
        span.float.left.visible-xs xs
        span.float.left.visible-sm sm
        span.float.left.visible-md md
        span.float.left.visible-lg lg
        .row
            .col-md-8.col-md-push-2
                .jumbotron
                    .container
                      section.col-sm-10.col-sm-push-1
                        figure.form-login
                          img.img-responsive.center-block.logo-form(src='images/cgodin_logo.png', alt='logo')
                          form.form-group-sm(action='/newprofile')
                                input.form-control.col-xs-2(name='names', placeholder='Nombre(s)', style='margin-bottom: 19px; border-radius:30px')
                                input.form-control.col-xs-2(name='lastname', placeholder='Apellido Paterno', style='margin-bottom: 19px; border-radius:30px')
                                input.form-control.col-xs-2(name='lastname2', placeholder='Apellido Materno', style='margin-bottom: 19px; border-radius:30px')
                                input.form-control.col-xs-2(type='email' name='email', placeholder='Correo electrónico', style='margin-bottom: 19px; border-radius:30px')
                                input.form-control.col-xs-2(type='password' name='password', placeholder='Contraseña', style='margin-bottom: 19px; border-radius:30px')
                                input.btn-login.center-block(role='button' type='submit', name='registro', value='Registrarse')
                        p.adv-register
                        | ¿Ya tienes cuenta? &nbsp;&nbsp;
                        a(href='/login') Inicia sesión