doctype html
html
    head
        title Cgodin | Buscar
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.3.3.7.min.css')
        link(rel='stylesheet', type='text/css', href='css/css/font-awesome.css')
        link(rel='stylesheet', href='/css/jquery.mobile-1.4.5.css')
        link(rel='stylesheet', href='/css/style.css')
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='UTF-8')
        meta(name='description', content='Cgodin')
        meta(name='keywords', content='empleo, bolsa de trabajo, recursos humanos')
        meta(name='author', content='rycLATAM')
        script(src='/js/jquery-3.2.1.js')
        script(src='/js/jquery.mobile-1.4.5.js')
    body
        include header-cg-post




