doctype html
html
    head
        title Cgodin | Nuevo Perfil
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='css/jquery.mobile-1.4.5.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.3.3.7.min.css')
        link(rel='stylesheet', type='text/css', href='css/css/font-awesome.css')
        link(rel='stylesheet', href='css/style.css')
        meta(http-equiv='Content-Type', content='text/html', charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(charset='UTF-8')
        meta(name='description', content='Cgodin')
        meta(name='keywords', content='empleo, bolsa de trabajo, recursos humanos')
        meta(name='author', content='rycLATAM')
        script(src='/js/jquery-3.2.1.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/jquery.mobile-1.4.5.js')
    body
        header
            nav.navbar-default.enc.navbar-fixed-top
                .ui-navbar(data-role='navbar', data-grid='c', role='navigation')
                    ul.ui-grid-c
                        li.ui-block-a.enc-active
                            a.ui-link.ui-btn(href='/main')
                                img.img-navbar.img-responsive(src='/img/Iconos/Home.png', alt='INICIO')
                        li.ui-block-b
                            a(href='/search')
                                img.img-navbar(src='/img/Iconos/Buscar.png', alt='BUSCAR')
                        li.ui-block-c
                            a(href='postulation.html')
                                img.img-navbar(src='/img/Iconos/Postular.png', alt='POSTULARSE')
                        li.ui-block-d
                            button(onclick='showMenu()')
                                a(href='/myprofile' id="open-hide" class="open-hide")
                                    img.img-navbar(src='/img/Iconos/Perfil.png', alt='MI PERFIL')
                                    ul(id="menu" class="menu")
                                        li
                                            a(href='#') Perfil
                                        li
                                            a(href='#') Ayuda
                                        li
                                            a(href='#') Cerrar Sesión
    .row
      .col-md-8.col-md-push-2.col-xs-12
        .col-xs-12
            img(src='/img/logoEmpresaMd.png')
            |&nbsp;&nbsp;
            h2 Ejecutivos Telefónicos
        .col-xs-12
            h4 Reclutamiento y Capacitación LATAM
            br
            br
            article
                p Sexo: Indistinto
                p Edad: 24 a 35 años
                p Licenciatura terminada
                br
                br
                br
                p Venta de productos Financieros
                p Atención al cliente
                br
                br
                p Prestaciones de Ley
                p Sueldo $10,000 más bonos
                br
            .row.col-xs-12
                .col-xs-6
                    .container
                        button.btn.btnRosa.pull-left(data-toggle='modal' data-target='#myModal') Postularse
                        .modal.fade(id='myModal' tabindex='-1' role='dialog' aria-labelledby='mySmallModalLabel' aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;

                                    .modal-body
                                        h4 Te has postulado a esta vacante
                                        a(href='/myPostulations') Ir a mis postulaciones
                .col-xs-6
                    a(href='/main')
                        input.btnRosa(type='button' value='Regresar')
