input, select
  text-align center

::-webkit-input-placeholder
  text-align center


:-moz-placeholder  /* Firefox 18- */
  text-align center


::-moz-placeholder  /* Firefox 19+ */
  text-align center

:-ms-input-placeholder
  text-align center

#wrapper-cg
  margin 0 auto
  max-width 1024px
  min-width 360px

.img-logos
  max-width 42px
  min-width 40px

.jumbotron-p-info
  margin 0 auto
  background-color #f8fff4
  max-width 100%
  min-width 400px
  height 100%
  display flex
  flex-direction column
  justify-content space-around

.jumbotron-p-info input
  display inline-block

.profile-picture
  background #c7faff
  margin-top 80px
  margin-bottom 0px
  height 250px
  max-width 100%
  max-height 96px

.container-data input
  max-width 100%
  display flex
  margin 0 auto

.container-flex-row
  display flex
  flex-direction row

.container-flex-row-bottom
  border-bottom 1px solid silver

@media screen and (min-width: 786px)
  .section-info-2
    max-height 800px
    background-color lightgray
  .profile-picture
    margin-top 50px auto
  .section-1-profile
    max-height 90px
  .jumbotron-p-info
    padding-right 150px
    padding-left 150px

@media screen and (min-device-width: 400px)
  .section-1-profile
    max-height 78px
  .section-info-2
    border-top 1px solid silver
    max-height 330px
    background-color #c5ecff
  .jumbotron-p-info
    padding-left 36px
    padding-right 36px

.row
  display block
  device-min-width 100%
  device-max-width 100%

#row-2
  border-top 1px solid silver
  padding-top 20px




#row-1
  padding-bottom 1em

#row-3
  background-color #fff

#row-4
  border-top 1px solid silver