body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

.jumbotron
  height 120px
  border-radius 0px
  margin-bottom 1px

.cg-info
  background darkslategray

// Bootstrap overwrites

@media screen and (max-width: 980px)
  .cg-photo
    margin-left 0
    padding-left 0
//Mobile
@media (max-width: 320px) and (min-width: 400)
    .section-1
      height 100px
      padding 0
      margin-top 20px
    .cg-personal-data
      background silver
      height 100px
      margin-bottom 0px

@media screen and (min-width: 980px)
  .jumbotron.cg-info
    display none

  .jumbotron.cg-info-1.cg-personal-data
    width 75%
    height 500px
    margin 0 auto

.navbar-fixed-top
  background-color #284e6b
  top 0
  left 0
  height 50px
  position fixed
  padding-bottom 2em

.cg-info-1
  border-bottom 1px solid silver

.cg-info-r
  display inline
  float right
  background deeppink