*
  margin 0vh
  padding 0vh
body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  padding-right 0px
  color #fff
  text-align center

// Bootstrap overwrites
.jumbotron
  height 760px
  background #004059

img.logo-form
  margin-top 30px
  margin-bottom 5em
  padding-bottom 1em
  min-width 90px
  width 100%
  max-width 90px

.form-login
  position relative
  background-color #004059
  text-align center

p.adv-register
  color white

.inp
  border-radius:30px
  margin-bottom 19px

.btn-login
  position relative
  font-size 1em
  border 3px solid #743657
  border-radius 36px
  background-color transparent
  color #fff
  margin: 0 auto
  padding 1.1em

div.form-register
  background-color #2a434e
  padding 2.5%


